{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Charles Rowland</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
  </head>
  <body>
    <script src="index.js"></script>

<nav>
    <ul>
<li><a href="screenprint">Screenprinting Project</a></li>
    </ul>

    <ul>
<li><a href="blackbox">Black Box Investigation</a></li>
    </ul>
</nav>

<h2>About Me</h2>

<p>Hello, my name is Charles Rowland. My biggest ambitions are solving problems using mechanical engineering. I am able to shatter through every problem in my path related to my field of interests.
	My interest in engineering started out with a 3d printer. This gave me the passion and opportunity to bring my designs to life. My feelings for this field expanded as I continued to learn more about designing and machine operation.
	I began to learn more about CAD which aided my thinking and optimization in design. In 3d printers, the only way to make a design is through CAD. I have applied practically many different 3d modeling softwares focused on engineering and improved my skills. This was the primary foundation for my problem solving skills to grow.
	The attributes and the interests about me were able to form by attending ESUMS, an engineering and science school. I was exposed to bigger, more innovative fields than other schools. There is so much opportunity to learn and I cannot wait to take advantage of it.
	My love for problem solving using engineering still grows today and remains my primary interest. I thank the environment that enshrouds me in what I love today and how I was able to build on this.
</p>

 </body>
</html>